include .\..\checkbox\checkbox.pug
mixin checkbox-list(text,items,id)
        .checkbox-list(class="checkbox-list"+id)
        .checkbox-list__div-head(class="checkbox-list__div-head"+id)
            span.checkbox-list__span-text=text
            span(class="checkbox-list__span-icons checkbox-list__span-icons_"+id)="keyboard_arrow_down"
        .checkbox-list__div-list(class="checkbox-list__div-list_"+id)
            - for (let i = 0; i < items.length; i++)
                +checkbox('item '+id+i,items[i],'list-group_'+id)


