include .\..\checkbox\checkbox.pug

mixin checkbox-list(items)
    .checkbox-list
        .checkbox-list__div-head
            span.checkbox-list__span-text="Expandable checkbox list"
            span.checkbox-list__span-icons="keyboard_arrow_down"
        .checkbox-list__div-list
            - for (let i = 0; i < items.length; i++)
                +checkbox(i,items[i],'list-group')


