include ./../social-network-icons/social-network-icons
include ./../full-logo/full-logo

mixin footer2()
    .footer2
        .footer2__logo
            +full-logo()
        .footer2__content="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        .footer2__icons
            +social-network-icons()