@import '~font-awesome/css/font-awesome.css';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import 'src/block/button/button.scss';
@import 'src/block/button-border/button-border.scss';
@import 'src/block/button-arrow/button-arrow.scss';
@import "src/block/radio-button/radio-button.scss";
@import "src/block/checkbox/checkbox.scss";
@import "src/block/like-button/like-button";
@import "src/block/like-button/__label/like-button__label";
@import "src/block/toggle/toggle.scss";
@import "src/block/rate-button/rate-button";
@import "src/block/textfield/textfield";
@import "src/block/dropdown/dropdown";
@import "src/block/information/information";
@import "src/block/rich-checkbox/rich-checkbox";
@import "src/block/bullet-list/bullet-list.scss";
@import "src/block/checkbox-list/checkbox-list";
@import "src/block/range-slider/range-slider";
@import "src/block/comment/comment";
@import "src/block/date-dropdown/date-dropdown";
@import "src/block/logo/logo";
@import "src/block/pagination/pagination";
@import "../../block/carousel/carousel";
@import "src/block/filter-date-dropdown/filter-date-dropdown";


body {
  background: #FFFFFF;
  position: relative;
  width: 1440px;
  height: 1853px;

}

.form-elements {
  &__div-buttons {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    display: inline-block;
    position: absolute;
    width: 61px;
    height: 15px;
    left: 979px;
    top: 231px;
  }

  &__div-button {
    display: inline-block;
    position: absolute;
    width: 99px;
    height: 44px;
    left: 980px;
    top: 262px;
  }

  &__div-button_disabled {
    display: inline-block;
    position: absolute;
    width: 99px;
    height: 44px;
    left: 1098px;
    top: 262px;
    opacity: 0.5;
  }

  &__div-button-border {
    display: inline-block;
    position: absolute;
    width: 99px;
    height: 44px;
    left: 979px;
    top: 336px;
  }

  &__div-button-border_disabled {
    display: inline-block;
    position: absolute;
    width: 99px;
    height: 44px;
    left: 1098px;
    top: 336px;

    .button-opacity {
      background: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
  }

  &__div-button-content {
    display: inline-block;
    position: absolute;
    min-width: 61px;
    height: 15px;
    left: 980px;
    top: 411px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
  }

  &__div-button-content_disabled {
    display: inline-block;
    position: absolute;
    min-width: 61px;
    height: 15px;
    left: 1061px;
    top: 410.56px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);

  }

  &__div-button-arrow {
    display: inline-block;
    position: absolute;
    width: 320px;
    height: 44px;
    left: 979px;
    top: 456px;
  }

  &__div-radio-buttons {
    display: inline-block;
    position: absolute;
    width: 107px;
    height: 15px;
    left: 587px;
    top: 313px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

  }

  &__div-radio-button-1 {
    display: inline-block;
    position: absolute;
    left: 591px;
    top: 344px;


  }

  &__div-radio-button-2 {
    display: inline-block;
    position: absolute;
    left: 705px;
    top: 344px;

  }

  &__div-checkbox-buttons {
    display: inline-block;
    position: absolute;
    width: 136px;
    height: 15px;
    left: 587px;
    top: 143px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }

  &__div-checkbox-button-1 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 174.56px;

  }

  &__div-checkbox-button-2 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 205.12px;

  }

  &__div-checkbox-button-3 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 235.12px;

  }

  &__div-like-button {
    display: inline-block;
    position: absolute;
    width: 85px;
    height: 15px;
    left: 587px;
    top: 534px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;

  }

  &__div-like-button-1 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 565px;


  }

  &__div-like-button-2 {
    display: inline-block;
    position: absolute;
    left: 637px;
    top: 565px;


  }

  &__div-toggle {
    position: absolute;
    width: 50px;
    height: 15px;
    left: 587px;
    top: 404.56px;
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #1F2041;
  }

  &__div-toggle-1 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 435.56px;
  }

  &__div-toggle-2 {
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 469.56px;
  }
  &__div-rate-button{
    display: inline-block;
    position: absolute;
    width: 90px;
    height: 15px;
    left: 587px;
    top: 625px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-rate-button-1{
    display: inline-block;
    position: absolute;
    left: 587px;
    top: 656px;
  }
  &__div-rate-button-2{
    display: inline-block;
    position: absolute;
    left: 727px;
    top: 656px;
  }
  &__div-textfield1-content{
    display: inline-block;
    position: absolute;
    width: 72px;
    height: 15px;
    left: 141px;
    top: 143px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041
  }
  &__div-content-default{
    display: inline-block;
    position: absolute;
    width: 57px;
    height: 15px;
    left: 403.74px;
    top: 140px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;

    color: rgba(31, 32, 65, 0.5);
  }

  &__div-texfield1{
    display: inline-block;
    position: absolute;
    left: 141px;
    top: 163px;
  }
  &__div-textfield2-content{
    display: inline-block;
    position: absolute;
    width: 72px;
    height: 15px;
    left: 141px;
    top: 227.44px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-content-focus{
    display: inline-block;
    position: absolute;
    min-width: 96px;
    height: 15px;
    left: 364px;
    top: 227px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);

  }
  &__div-texfield2{
    display: inline-block;
    position: absolute;
    left: 141px;
    top: 247.44px;
  }
  &__dropdown-content{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 141px;
    top: 311.44px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-content-default2{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 403.74px;
    top: 311px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);

  }
  &__div-dropdown1{
    width: 320px;
    position: absolute;
    left: 141px;
    top: 331.44px;
  }
  &__div-textfield3-content{
    position: absolute;
    width: 130px;
    height: 15px;
    left: 141px;
    top: 398px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-content-default3{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 403.74px;
    top: 395px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5)
  }
  &__div-texfield3{
    position: absolute;
    left: 141px;
    top: 418px;
  }
  &__dropdown-content2{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 587px;
    top: 876px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-dropdown2{
    width: 320px;
    position: absolute;
    left: 587px;
    top: 896px;
  }
  &__dropdown-content3{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 979px;
    top: 876px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-dropdown3{
    width: 320px;
    position: absolute;
    left: 979px;
    top: 896px;
  }
  &__information1{
    display: inline-block;
    position: absolute;
    left: 198px;
    top: 1566px;
  }
  &__information2{
    display: inline-block;
    position: absolute;
    left: 198px;
    top: 1655px;
  }
  &__div-textfield4-content{
    position: absolute;
    width: 170px;
    height: 15px;
    left: 141px;
    top: 712px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-texfield4{
    position: absolute;
    left: 140px;
    top: 732px;
  }
  &__rich-checkbox-content{
    position: absolute;
    width: 171px;
    height: 15px;
    left: 587px;
    top: 1196px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__div-rich-checkbox1{
    position: absolute;
    left: 587px;
    top: 1227px;
  }
  &__div-rich-checkbox2{
    position: absolute;
    left: 587px;
    top: 1289px;
  }
  &__bullet-list-content{
    position: absolute;
    width: 79px;
    height: 15px;
    left: 979px;
    top: 1196px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__bullet-list{
    position: absolute;
    left: 979px;
    top: 1227px;

  }
  &__expandable-checkbox-list1{
    position: absolute;
    left: 141px;
    top: 1196px;


  }
  &__expandable-checkbox-list2{
    position: absolute;
    left: 140px;
    top: 1260px;
  }
  &__dropdown-content4{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 140px;
    top: 876px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;

    color: #1F2041;
  }
  &__dropdown-content-default{
    position: absolute;
    width: 57px;
    height: 15px;
    left: 349px;
    top: 876px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;

    text-align: right;
    text-transform: uppercase;

    color: rgba(31, 32, 65, 0.5);
  }
  &__div-dropdown4{
    width: 266px;
    position: absolute;
    left: 140px;
    top: 896px;
  }
  &__dropdown-content5{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 140px;
    top: 960px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__dropdown-content-expanded{
    position: absolute;
    width: 70px;
    height: 15px;
    left: 336px;
    top: 960px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    text-transform: uppercase;

    color: rgba(31, 32, 65, 0.5);
  }
  &__div-dropdown5{
    position: absolute;
    width: 266px;
    left: 140px;
    top: 979.56px;
  }
  &__div-comment{
    position: absolute;
    left: 644.6px;
    top: 1576px;

  }
  &__div-range-slider-content{
    position: absolute;
    width: 95px;
    height: 15px;
    left: 979px;
    top: 143.44px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

    text-transform: uppercase;

    color: #1F2041;
  }
  &__div-range-slider{
    position: absolute;
    left: 979px;
    top: 140px;
  }
  &__logo{
    position: absolute;
    left: 30px;
    top: 30px;
  }
  &__date-dropdown-content1{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 141px;
    top: 502px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__date-dropdown1{
    position: absolute;
    left: 141px;
    top: 522.44px;

  }
  &__date-dropdown-content2{
    position: absolute;
    width: 150px;
    height: 15px;
    left: 311px;
    top: 502px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__date-dropdown2{
    position: absolute;
    left: 311px;
    top: 522.44px;
  }
  &__pagination-content{
    position: absolute;
    width: 81px;
    height: 15px;
    left: 980px;
    top: 540px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__pagination{
    position: absolute;
    left: 980px;
    top: 571.44px;
  }
  &__filter-date-dropdown-content{
    position: absolute;
    width: 197px;
    height: 15px;
    left: 141px;
    top: 607px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #1F2041;
  }
  &__filter-date-dropdown{
    position: absolute;
    left: 141px;
    top: 627px;
  }
}
