.button-border {
  border-radius: 22px;
  padding: 2px;
  width: 99px;
  height: 44px;
  border: 0;
  background: linear-gradient(180deg, rgba(188,156,255, 1) 0%, rgba(139,164,249,1) 100%);
}


@import "src/block/button-border/__span/button-border__span";
