mixin filter-date-dropdown(id)
    .filter-date-dropdown
        input(class="filter-date-dropdown__input" data-toggle="datepicker" id="date-field" + id type="text" placeholder="Выберите диапазон дат" data-range="true" data-multiple-dates-separator=" - " )
        span(class = "filter-date-dropdown__span-icons" id="span"+ id)="keyboard_arrow_down"