doctype html
html
    head
        title UI KIT
    body
        h1.title UI Kit
        ul
            li
                a(href="FormElements.html") Form Elements
            li
                a(href="Colors&Type.html") Colors&Type
            li
                a(href="Cards.html") Cards
            li
                a(href="Headers&Footers.html") Headers&Footers
