@import "~air-datepicker/dist/css/datepicker.css";

.datepicker{
  width: 320px;
  min-height: 369px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}
.datepicker--content{
  border: 0;
}
.datepicker--nav {
  min-height: 24px;
  max-height: 24px;

  padding: 0;
  border: 0;
  margin: 20px 20px 30px 20px;
  }

.datepicker--nav-title{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #1F2041;
}
.datepicker--nav-title i {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
  color: #1F2041;

}
.datepicker--days-names{

  margin: 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

}

.datepicker--content{
  padding: 0 20px 0 20px;
}
.datepicker--day-name{
  text-transform: capitalize;
  font-size: 12px;
  line-height: 15px;
  max-width: 39.88px;
  height: 40px;
  color: #BC9CFF;
}
.datepicker--cells {
  width: 280px;
 /* min-width: 39.88px;
  min-height: 40px;*/
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(31, 32, 65, 0.5);
}
.datepicker--cell-day{
  min-width: 39.88px;
  min-height: 40px;
}
.datepicker--cell.-current- {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

}
.datepicker--cell.-current-.-focus-{
  color: #FFFFFF
}

.datepicker--cell.-range-from-{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;

  &::after{
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    content:"";
    opacity: 0.25;
    border-radius: 50% 0 0 50%;
    display: inline-block;
    position: absolute;
  }
}

.datepicker--cell.-range-to-{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;

  &::before{
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    content:"";
    opacity: 0.25;
    border-radius: 0 50% 50% 0;
    display: inline-block;
    position: absolute;
  }
}

.datepicker--cell.-selected-.-focus-
{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.datepicker--cell.-in-range-{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  opacity: 0.25;
}

.datepicker--nav-action{
  width: 23.93px;
  height: 24px;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #BC9CFF;
}
.datepicker--buttons {
  border: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  /*display: flex;
  flex-direction: row ;*/
}
.datepicker--button{
  height: 15px;
  width: 72px;
  margin-left: 20px;
  justify-content: left;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

