include \..\..\block\color\color
include \..\..\block\logo\logo


doctype html
html
    head
        title UI KIT
    body
        .colors-types
            .colors-types__div-color1
                +color("#1F2041","Dark Shade 100%","color1","100%")
            .colors-types__div-color2
                +color("#1F2041","Dark Shade 75%","color2","75%")
            .colors-types__div-color3
                +color("#1F2041","Dark Shade 50%","color3","50%")
            .colors-types__div-color4
                +color("#1F2041","Dark Shade 25%","color4","25%")
            .colors-types__div-color5
                +color("#1F2041","Dark Shade 5%","color5","5%")
            .colors-types__div-color6
                +color("#BC9CFF","Purple","color6","100%")
            .colors-types__div-color7
                +color("#6FCF97","Green","color7","100%")
            .colors-types_div1
                .colors-types__type1="h1"
                h1.h1 This one is the sub-section or widget title
            .colors-types_div2
                .colors-types__type2="h2"
                h2.h2 Next one is the item title inside widgets
            .colors-types_div3
                .colors-types__type3="h3"
                h3.h3 This is a label or CTA text
            .colors-types_div4
                .colors-types__type4="Body"
                .body This is the body text which is used for most of the design, like paragraphs, lists, etc.
            .colors-types__logo
                +logo()


