.date-dropdown__span-icons{
  position: absolute;
  top : 0;
  right: -10px;
  width: 44px;
  height: 44px;

  display: flex;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  align-items: center;
  text-align: center;


  color: rgba(31, 32, 65, 0.5);






}