mixin iteration(label)
    .iteration
        div(class="iteration__div-name")=label
        .iteration__div-content
            button(class="iteration__button-minus" )="-"
            input(type="text" value="0" class="iteration__div-num")
            button(class="iteration__button-plus")="+"