mixin like-button(input)
    .like-button
        input(class="like-button__input" type="checkbox" id=input name=group)
        label(class="like-button__label" for=input)
            span(class="like-button__span")=''
