include \..\..\block\like-button\like-button

mixin comment(name, lastSeen, content, input, id,number )
    .comment
        .comment__man
            .comment__avatar
            .comment__info
                .comment__name=name
                .comment__last-seen=lastSeen
        .comment__content
            +like-button(input, id, number)
            .comment__content-info=content