@import '~font-awesome/css/font-awesome.css';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import "src/block/header1/header1";
@import "src/block/login-form/login-form";
@import "src/block/footer1/footer1";
@import "src/block/header3/header3";

body {
  position: relative;
  width: 1440px;
  height: 1937px;
}


.signIn__enter_div {
  background: url("image.png");
  height: 753px;
}

.signIn__enter_div_login-form {
  position: relative;
  top: 163px;
  left: 510px;

}

.signIn__header {
  margin-bottom: 1px;
}

.signIn__header {
  .header-panel__span0 {
    font-weight: normal;
    color: rgba(31, 32, 65, 0.5);
  }
}