//include \..\..\block\social-network-icons\social-network-icons

include ./../../block/social-network-icons/social-network-icons

mixin footer1(content)
    .footer1
        .footer1__content=content
        .footer1__icons
            +social-network-icons()