include \..\..\block\social-network-icons\social-network-icons

mixin footer1()
    .footer1
        .footer1__content="Copyright © 2018 Toxin UI Kit. All rights reserved."
        .footer1__icons
            +social-network-icons()