include \..\..\block\checkbox-list\checkbox-list

mixin header-panel(items,numbers)
    .header-panel
        - for (let i = 0; i < items.length; i++)
            if (numbers.indexOf( i ) != -1)
                .header-panel__div.header-panel-arrow
                    span(class="header-panel__span header-panel__span" + i)=items[i]
                    span(class="header-panel__span-icon")='expand_more'
            else
                .header-panel__div
                    span(class="header-panel__span header-panel__span" + i)=items[i]

