mixin toggle(input, label)
    .toggle
        input(class="toggle__input" type="checkbox" id=input name=group)
        label(class="toggle__label" for=input)
            span(class="toggle__span")=label
