include ./../../block/logo/logo
include ./../../block/full-logo/full-logo
include ./../../block/header1/header1
include ./../../block/header2/header2
include ./../../block/header3/header3
include ./../../block/footer1/footer1
include ./../../block/footer2/footer2
include ./../../block/social-network-icons/social-network-icons
doctype html
html
    head
        title UI KIT
    body
        .headers-footers
            .headers-footers__logo
                +logo()
            .headers-footers__header1
                +header1(['Home','About Us','Services', 'Careers','News', 'Documentation'],[2])
            .headers-footers__header2
                +header2()
            .headers-footers__header3
                +header3("Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
                    ['Navigation', 'About Us', 'News', 'Support', 'Products'],['About Us', 'Who we are', 'Our team', 'Careers', 'Investors '],
                    ['support', 'Documentation', 'Community', 'Get in Touch'],"Subscribe to our newsletter","Receive our latest news and promotions in your inbox!","Your email address")
            .headers-footers__footer1
                +footer1("Copyright © 2018 Toxin UI Kit. All rights reserved.")
            .headers-footers__footer2
                +footer2()

