@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import "src/block/logo/logo";


body {
  background: #E5E5E5;
}

.headers-footers {
  &__logo{
    position: absolute;
    left: 30px;
    top: 30px;
  }
}