mixin information(icon,head, content)
    .information
        .information__div-input
            .information__div-icon=icon
            .information__div-content
                span(class="information__span-head")=head
                span(class="information__span-content")=content
        hr.information__hr