.radio__label
{
  position: relative;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);

  &::before
  {
    content: "";
    display: inline-block;
    position: relative;
    top: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 50%;
  }

  &::after
  {
    content: none;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }

  .radio__input:checked + &::after
  {
    content: "";
    color: rgba(31, 32, 65, 0.75);
  }


  .radio__input:checked + &::before{
    border: 1px solid #BC9CFF;


  }
  .radio__input:checked + &
  {
    color: rgba(31, 32, 65, 0.75);
  }


}