.button-border
{
  &__span{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;

    display: flex;
    margin-top:-0.02px ;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    height: 102%;
    border-radius: 22px;
    background: #FFFFFF;
  }
}