include .\..\iteration\iteration.pug

mixin dropdown()
    .dropdown
        .dropdown__div-content
            .dropdown__div-text="Сколько гостей"
            .dropdown__div-icon="expand_more"
        .dropdown__div-items
            +iteration("взрослые")
            +iteration("дети")
            +iteration("младенцы")
            .dropdown__div-buttons
                        .dropdown__div-clear="Очистить"
                        .dropdown__div-apply="Применить"


