mixin rate-button(id,name)
    .rate-buttons
        input.rate-button__input(name="rating"+name value="5" id="rating_5"+id type="radio")
        label.rate-button__label(for="rating_5"+id)
        input.rate-button__input(name="rating"+name value="4" id="rating_4"+id type="radio")
        label.rate-button__label(for="rating_4"+id)
        input.rate-button__input(name="rating"+name value="3" id="rating_3"+id type="radio")
        label.rate-button__label(for="rating_3"+id)
        input.rate-button__input(name="rating"+name value="2" id="rating_2"+id type="radio")
        label.rate-button__label(for="rating_2"+id)
        input.rate-button__input(name="rating"+name value="1" id="rating_1"+id type="radio")
        label.rate-button__label(for="rating_1"+id)