doctype html
html
    head
        title UI KIT
    body
        h1.title UI Kit
        ul
            li
                a(href="pages/FormElements.html") Form Elements
            li
                a(href="pages/Colors&Type.html") Colors&Type
            li
                a(href="pages/Cards.html") Cards
            li
                a(href="pages/Headers&Footers.html") Headers&Footers





                

