doctype html
html
    head
        title My Project
    body
        ul
            li
                a(href="pages/UIKit.html") UI Kit
            li
                a(href="pages/WebsitePages.html") Website Pages




                

