mixin social-network-icons()
    .social-network-icons
        i.social-network-icons__twitter(class="fab fa-twitter" )
        i.social-network-icons__facebook(class="fab fa-facebook-square" )
        i.social-network-icons__instagram(class="fab fa-instagram")


