.social-network-icons {
  display: flex;


  &__twitter, &__facebook, &__instagram {
    display: block;
    background-size: 24px 24px;
    width: 24px;
    min-width: 24px;
    height: 24px;

  }

  &__twitter {
    background-image: url('./images/twitter.png');
  }

  &__facebook {
    background-image: url('./images/facebook.png');
    margin-left: 20px;
  }

  &__instagram {
    background-image: url('./images/instagram.png');
    margin-left: 20px;
  }
}