$color_purple: Montserrat;
$color_green: #6FCF97;
$color_disqus-blue: #8BA4F9;
$gradient-color: linear-gradient(180deg, $color_purple 0%, $color_disqus-blue 100%);
$background: "background";
@mixin vendor-prefix-gradient($prop, $val)
{
  #{$prop}: -o-#{$val};
  #{$prop}: -moz-#{$val};
  #{$prop}: -ms-#{$val};
  #{$prop}: -webkit-#{$val};
  #{$prop}: -icab-#{$val};
  #{$prop}: -khtml-#{$val};
  #{$prop}: #{$val};
}