include \..\..\block\full-logo\full-logo
include \..\..\block\header-panel\header-panel
include \..\..\block\button-border\button-border
include \..\..\block\button\button
include \..\..\block\textfield\textfield


mixin header3()
    .header3
        .header3__div
            .header3__logo
                .header3__full-logo
                    +full-logo()
                .header3__content="Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
            .header3__panel.header3__panel-navigation
                +header-panel(['Navigation', 'About Us', 'News', 'Support', 'Products'],[])
            .header3__panel.header3__panel-about-us
                +header-panel(['About Us', 'Who we are', 'Our team', 'Careers', 'Investors '],[])
            .header3__panel.header3__panel-support
                +header-panel(['support', 'Documentation', 'Community', 'Get in Touch'],[])
            .header3__subscribe
                .header3__subscribe-head="Subscribe to our newsletter"
                .header3__subscribe-content="Receive our latest news and promotions in your inbox!"
                .header3__subscribe-textfield
                    +textfield("email-field-arrow","Your email address","email","yes")

