include \..\..\block\full-logo\full-logo
include \..\..\block\header-panel\header-panel
include \..\..\block\button-border\button-border
include \..\..\block\button\button
include \..\..\block\textfield\textfield


mixin header3(content, column1, column2,column3, subscribe_head,subscribe_content, text)
    .header3
        .header3__div
            .header3__logo
                .header3__full-logo
                    +full-logo()
                .header3__content=content
            .header3__panel.header3__panel-navigation
                +header-panel(column1,[])
            .header3__panel.header3__panel-about-us
                +header-panel(column2,[])
            .header3__panel.header3__panel-support
                +header-panel(column3,[])
            .header3__subscribe
                .header3__subscribe-head=subscribe_head
                .header3__subscribe-content=subscribe_content
                form(name="header")
                    .header3__subscribe-textfield
                        +textfield("email-field-arrow",text,"email","yes")

