@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import "src/block/login-form/login-form";
@import "src/block/registration-form/registration-form";


body {
  background: #E5E5E5;
}

.cards {
  &__login-form {
    position: absolute;
    left: 560px;
    top: 701px;

  }
  &__registration-form{
    position: absolute;
    left: 140px;
    top: 564px;
  }
}